{% extends 'base.html.twig' %}

{% block title %}GalleryVideo index{% endblock %}

{% block body %}
    <h1>GalleryVideo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Path</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery_video in gallery_videos %}
            <tr>
                <td>{{ gallery_video.id }}</td>
                <td>{{ gallery_video.name }}</td>
                <td>{{ gallery_video.path }}</td>
                <td>
                    <a href="{{ path('gallery_video_show', {'id': gallery_video.id}) }}">show</a>
                    <a href="{{ path('gallery_video_edit', {'id': gallery_video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gallery_video_new') }}">Create new</a>
{% endblock %}
