<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    {#<h4 class="page-title">Data Table</h4>#}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i
                                        class="mdi mdi-home-outline"></i></a></li>
                        {#{% for breadcrumb_link, breadcrumb in breadcrumbs %}#}
                        {#<li class="breadcrumb-item"><a href="{{ path(breadcrumb_link) }}">{{ breadcrumb }}</a>#}
                        {#</li>#}
                        {#{% endfor %}#}
                        <li class="breadcrumb-item active">Create / Edit</li>
                    </ol>
                </div>
            </div> <!-- end row -->
        </div>
        <!-- end page-title -->

        <form action="" method="post" enctype="multipart/form-data">
            {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
            <div class="row">
                <div class="col-md-8 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Coffee shop details</h4>
                            <hr/>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">Name</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.name, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>
                                {% if is_granted('ROLE_SUPPER_ADMIN') == true %}
                                <div class="form-group row">
                                    {% else %}
                                    <div style="display: none" class="form-group row">
                                        {% endif %}

                                        <label for="noOfInstallments" class="col-sm-4 control-label">Owner</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.owner, {'type':'number', 'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.owner) }}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="noOfInstallments" class="col-sm-4 control-label">Description</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.description, {'type':'textarea', 'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.description) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="noOfInstallments" class="col-sm-4 control-label">About Us</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.aboutUs, {'type':'textarea', 'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.aboutUs) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="noOfInstallments" class="col-sm-4 control-label">Cover Photo</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.coverPhoto.file, {'type':'file', 'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.coverPhoto.file) }}
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>


                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mt-0 header-title">Theme</h4>
                                    <hr/>
                                    <div class="box-body">
                                        {% for theme in themes %}
                                            <div class="form-group row">
                                                <label for="employee"
                                                       class="col-sm-4 control-label">{{ theme.name }}</label>
                                                <div class="col-sm-8">
                                                    <a target="_blank" style="cursor: pointer"
                                                       href="{{ path('preview', {code: theme.code}) }}"
                                                       class="btn btn-primary">preview</a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group row">
                                        <label for="noOfInstallments" class="col-sm-4 control-label">Select a
                                            theam</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.theme, { 'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.theme) }}
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        {% endif %}


                        <div class="card">
                            <div class="card-body">
                                <div class="box-body">
                                    <h4 class="mt-0 header-title">Contact details</h4>
                                    <hr/>
                                    <div class="box-body">
                                        <div class="form-group row">
                                            <label for="employee" class="col-sm-4 control-label">Email</label>
                                            <div class="col-sm-8">
                                                {{ form_widget(form.contactDetail.email, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.contactDetail.email) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group row">
                                            <label for="employee" class="col-sm-4 control-label">Phone number</label>
                                            <div class="col-sm-8">
                                                {{ form_widget(form.contactDetail.phone_number, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.contactDetail.phone_number) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group row">
                                            <label for="employee" class="col-sm-4 control-label">Address line
                                                one</label>
                                            <div class="col-sm-8">
                                                {{ form_widget(form.contactDetail.address.line_one, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.contactDetail.address.line_one) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group row">
                                            <label for="employee" class="col-sm-4 control-label">Address line
                                                two</label>
                                            <div class="col-sm-8">
                                                {{ form_widget(form.contactDetail.address.line_two, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.contactDetail.address.line_two) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group row">
                                            <label for="employee" class="col-sm-4 control-label">City</label>
                                            <div class="col-sm-8">
                                                {{ form_widget(form.contactDetail.address.city, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.contactDetail.address.city) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group row">
                                            <label for="employee" class="col-sm-4 control-label">postal code</label>
                                            <div class="col-sm-8">
                                                {{ form_widget(form.contactDetail.address.postal_code, {'type':'number', 'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.contactDetail.address.postal_code) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="box-body">
                                    <h4 class="mt-0 header-title">Slider Images</h4>
                                    <hr/>
                                    <div class="box-body">
                                        <ul class="slider"
                                            data-prototype="{{ include('coffee_shop/_form_slider_image.html.twig', { 'slider': form.sliderImages.vars.prototype }) |e('html_attr') }}">
                                            {% for key, sliderImg in form.sliderImages %}
                                                <li>
                                                    <hr/>
                                                    <div class="form-group row ">
                                                        <label for="sibling_name"
                                                               class="col-sm-4 control-label">Path</label>
                                                        <div class="col-sm-8">
                                                            {{ form_widget(sliderImg.file, {'attr': {'class': 'form-control'}}) }}
                                                            {{ form_errors(sliderImg.file) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label for="sibling_name"
                                                               class="col-sm-4 control-label">Position in slider</label>
                                                        <div class="col-sm-8">
                                                            {{ form_widget(sliderImg.position, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                            {{ form_errors(sliderImg.position) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">

                                                        <label for="sibling_name"
                                                               class="col-sm-4 control-label">Title</label>
                                                        <div class="col-sm-8">
                                                            {{ form_widget(sliderImg.title, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                            {{ form_errors(sliderImg.title) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label for="sibling_name"
                                                               class="col-sm-4 control-label">Sub title</label>
                                                        <div class="col-sm-8">
                                                            {{ form_widget(sliderImg.subTitle, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                            {{ form_errors(sliderImg.subTitle) }}
                                                        </div>
                                                    </div>
                                                </li>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-body">
                                <div class="box-body">
                                    <h4 class="mt-0 header-title">Menu</h4>
                                    <hr/>

                                    <p class="text-muted mb-4">Categories</p>
                                    <ul class="category"
                                        data-prototype="{{ include('menu/category_prototype.html.twig', { 'category': form.menu.categories.vars.prototype }) |e('html_attr') }}">
                                        {% for key, category in form.menu.categories %}
                                            {% set level = category.vars.value.level %}
                                            {% if level == 1 %}
                                                <li>
                                                    <hr/>
                                                    <div class="form-group row ">
                                                        <label for="sibling_name"
                                                               class="col-sm-4 control-label">Name</label>
                                                        <div class="col-sm-8">
                                                            {{ form_widget(category.name, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                            {{ form_errors(category.name) }}
                                                        </div>
                                                    </div>

                                                    <div style="display: none">
                                                        {{ form_widget(category.level,  { 'attr': {'class': 'hidden-row'} }) }}
                                                        {{ form_widget(category.reset,  { 'attr': {'class': 'hidden-row'} }) }}
                                                        {{ form_widget(category.save,  { 'attr': {'class': 'hidden-row'} }) }}
                                                        {{ form_widget(category.menu,  { 'attr': {'class': 'hidden-row'} }) }}
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li style="display: none">
                                                    <hr/>
                                                    <div class="form-group row ">
                                                        <label for="sibling_name"
                                                               class="col-sm-4 control-label">Name</label>
                                                        <div class="col-sm-8">
                                                            {{ form_widget(category.name, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                            {{ form_errors(category.name) }}
                                                        </div>
                                                    </div>
                                                    <div>
                                                        {{ form_widget(category.level,  { 'attr': {'class': 'hidden-row'} }) }}
                                                        {{ form_widget(category.reset,  { 'attr': {'class': 'hidden-row'} }) }}
                                                        {{ form_widget(category.save,  { 'attr': {'class': 'hidden-row'} }) }}
                                                        {{ form_widget(category.menu,  { 'attr': {'class': 'hidden-row'} }) }}
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>


                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="box-body">
                                    <h4 class="mt-0 header-title">Open Days</h4>
                                    <hr/>
                                    <ul class="openHours"
                                        data-prototype="{{ include('coffee_shop/_form_open_day.html.twig', { 'od': form.openHours.vars.prototype }) |e('html_attr') }}">
                                        {% for key, openHour in form.openHours %}
                                            <li>
                                                <hr/>
                                                <div class="form-group row ">
                                                    <label for="sibling_name"
                                                           class="col-sm-4 control-label">Day</label>
                                                    <div class="col-sm-8">
                                                        {{ form_widget(openHour.day, {'attr': {'class': 'form-control'}}) }}
                                                        {{ form_errors(openHour.day) }}
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label for="sibling_name"
                                                           class="col-sm-4 control-label">From</label>
                                                    <div class="col-sm-8">
                                                        {{ form_widget(openHour.start, {'attr': {'class': 'form-control'}}) }}
                                                        {{ form_errors(openHour.start) }}
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label for="sibling_name"
                                                           class="col-sm-4 control-label">To</label>
                                                    <div class="col-sm-8">
                                                        {{ form_widget(openHour.end, {'attr': {'class': 'form-control'}}) }}
                                                        {{ form_errors(openHour.end) }}
                                                    </div>
                                                </div>


                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="box-body">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            {{ form_widget(form.reset, {'attr': {'class': 'btn btn-secondary btn-block pull-left'}}) }}
                                        </div>
                                        <div class="offset-6 col-sm-3">
                                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-info btn-block pull-right'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
                {{ form_end(form) }}
        </form>
    </div>
    <!-- container-fluid -->
</div>
<!-- content -->
