



{% extends "Base/base_page.html.twig" %}
{% block title %}Coffee Shop{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block page_content %}


    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        {#<h4 class="page-title">Data Table</h4>#}
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i
                                            class="mdi mdi-home-outline"></i></a></li>
                            {#{% for breadcrumb_link, breadcrumb in breadcrumbs %}#}
                            {#<li class="breadcrumb-item"><a href="{{ path(breadcrumb_link) }}">{{ breadcrumb }}</a>#}
                            {#</li>#}
                            {#{% endfor %}#}
                            <li class="breadcrumb-item active">Create / Edit</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div>
            <!-- end page-title -->
            <div class="row">
                <div class="col-md-8 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="box-body">
                                <div class="form-group row">
                                    <div class="col-sm-8">
                                        <img style="width: 500px" src="{{ asset('uploads/images/') ~ coffee_shop.coverPhoto.path }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Coffee Shop details</h4>
                            <hr/>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">Name</label>
                                    <div class="col-sm-8">
                                        {{ coffee_shop.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">Owner</label>
                                    <div class="col-sm-8">
                                        {{ coffee_shop.owner.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">Description</label>
                                    <div class="col-sm-8">
                                        {{ coffee_shop.description }}
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">About Us</label>
                                    <div class="col-sm-8">
                                        {{ coffee_shop.aboutUs }}
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Contact details</h4>
                            <hr/>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">
                                        {{ coffee_shop.contactDetail.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">Phone number</label>
                                    <div class="col-sm-8">
                                        {{ coffee_shop.contactDetail.phoneNumber }}
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">Address line one</label>
                                    <div class="col-sm-8">
                                        {{ coffee_shop.contactDetail.address.lineOne }}
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">Address line two</label>
                                    <div class="col-sm-8">
                                        {{ coffee_shop.contactDetail.address.lineTwo }}
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">City</label>
                                    <div class="col-sm-8">
                                        {{ coffee_shop.contactDetail.address.city }}
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">postal code</label>
                                    <div class="col-sm-8">
                                        {{ coffee_shop.contactDetail.address.postalCode }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Slider Images</h4>
                            <hr/>
                            {% for sliderImage in coffee_shop.sliderImages %}
                                <div class="box-body">
                                    <div class="form-group row">
                                        <label for="employee" class="col-sm-4 control-label">Image</label>
                                        <div class="col-sm-8">
                                            <img style="width: 500px" src="{{ asset('uploads/images/' ~ sliderImage.path) }}">
{#                                            {{ sliderImage.path }}#}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="employee" class="col-sm-4 control-label">Slider Position</label>
                                        <div class="col-sm-8">
                                            {{ sliderImage.position }}
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Menu</h4>
                            <hr/>

{#                            <div class="box-body">#}
{#                                <div class="form-group row">#}
{#                                    <label for="employee" class="col-sm-4 control-label">Name</label>#}
{#                                    <div class="col-sm-8">#}
{#                                        {{ coffee_shop.menu.name }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

                            <h4 class="mt-0 header-title">Categories</h4>
                            <hr/>

                            {% for category in coffee_shop.menu.categories %}

                                {% if category.level == 1 %}
                                <div class="box-body">
                                    <div class="form-group row">
                                        <label for="employee" class="col-sm-4 control-label">Name</label>
                                        <div class="col-sm-8">
                                            {{ category.name }}
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-body">
                            <div class="box-body">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        {#                                            {{ form_widget(form.reset, {'attr': {'class': 'btn btn-secondary btn-block pull-left'}}) }}#}
                                    </div>
                                    <div class="offset-6 col-sm-3">
                                        {#                                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-info btn-block pull-right'}}) }}#}
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
        </div>
        <!-- container-fluid -->

    </div>
    <!-- content -->


{% endblock page_content %}
{% block javascripts %}
    <script>
        {#var ajax_get_employee_list_auto_complete = "{{ url("ajax_get_employee_list_auto_complete") }}";#}
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}


