<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a href="index.html" class="logo">
                    <span class="logo-light">
                        <img src="{{ asset('logo/logo_2.png') }}" alt="" height="16">
                    </span>
            <span class="logo-sm">
                        <img src="{{ asset('logo/logo_1.png') }}" alt="" height="22">
                    </span>
        </a>
    </div>

    <nav class="navbar-custom">
        <ul class="navbar-right list-inline float-right mb-0">

            <!-- full screen -->
            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                    <i class="ion ion-md-qr-scanner noti-icon"></i>
                </a>
            </li>

            <li class="dropdown notification-list list-inline-item">
                <div class="dropdown notification-list nav-pro-img">
                    <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#"
                       role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="{{ asset('veltrix_v2/images/users/user-4.jpg') }}" alt="user"
                             class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        {% if app.user %}
                            <a class="dropdown-item" href="{{ path('user_show', {id: app.user.id}) }}"><i
                                        class="mdi mdi-account-circle"></i>{{ constance.Profile }}</a>
                            <a class="dropdown-item" href="{{ path('message_index', {id: app.user.id}) }}"><span
                                        class="badge badge-success float-right">11</span><i class="mdi mdi-wallet"></i>{{ constance.Message }}</a>
                            <a class="dropdown-item" href="{{ path('sent_messages', {id: app.user.id}) }}"><span
                                        class="badge badge-success float-right">11</span><i class="mdi mdi-wallet"></i>{{ constance.Sent_messages }}</a>
                            <a class="dropdown-item d-block" href="{{ path('user_edit', {id: app.user.id}) }}"><i
                                        class="mdi mdi-settings"></i>{{ constance.Settings }}</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{{ path('app_logout') }}"><i
                                    class="mdi mdi-power text-danger"></i>{{ constance.Logout }}</a>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
        </ul>

    </nav>

</div>


