<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">{{ constance.Overview }}</li>
                <li>
                    {#<a href="{{ path('dashboard') }}" class="waves-effect">#}
                    <a href="#" class="waves-effect">
                        <i class="ion ion-md-speedometer"></i>
                        {#<span class="badge badge-success badge-pill float-right">2</span>#}
                        <span> {{ constance.Dashboard }} </span>
                    </a>
                </li>
                {% if is_granted('ROLE_SUPPER_ADMIN') %}
                    <li>
                        <a href="javascript:void(0);" class="waves-effect"><i
                                    class="ion ion-md-people"></i><span>{{ constance.user }}<span
                                        class="float-right menu-arrow"><i
                                            class="mdi mdi-chevron-right"></i></span> </span></a>
                        <ul class="submenu">
                            <li><a href="{{ path('app_register') }}">{{ constance.create }}</a></li>
                            <li><a href="{{ path('user_index') }}">{{ constance.list }}</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i
                                class="ion ion-md-list"></i><span>{{ constance.CoffeeShop }}<span
                                    class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="{{ path('coffee_shop_new') }}">{{ constance.create }}</a></li>
                        <li><a href="{{ path('coffee_shop_index') }}">{{ constance.list }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i
                                class="ion ion-md-people"></i><span>{{ constance.Category }}<span
                                    class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="{{ path('category_new') }}">{{ constance.create }}</a></li>
                        {#                        <li><a href="">Create sub category</a></li>#}
                        <li><a href="{{ path('category_index') }}">{{ constance.list }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i
                                class="ion ion-md-list"></i><span>{{ constance.Gallery }}<span
                                    class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="{{ path('gallery_new') }}">{{ constance.create }}</a></li>
                        <li><a href="{{ path('gallery_index') }}">{{ constance.list }}</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i
                                class="ion ion-md-list"></i><span>{{ constance.Order }}<span
                                    class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="{{ path('order_index') }}">{{ constance.list }}</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i
                                class="ion ion-md-list"></i><span>{{ constance.Products }}<span
                                    class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="{{ path('item_index') }}">{{ constance.list }}</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
