

{% extends "Base/base_page.html.twig" %}
{% block title %}Category{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block page_content %}


    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        {#<h4 class="page-title">Data Table</h4>#}
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i
                                            class="mdi mdi-home-outline"></i></a></li>
                            {#{% for breadcrumb_link, breadcrumb in breadcrumbs %}#}
                            {#<li class="breadcrumb-item"><a href="{{ path(breadcrumb_link) }}">{{ breadcrumb }}</a>#}
                            {#</li>#}
                            {#{% endfor %}#}
                            <li class="breadcrumb-item active">Create / Edit</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div>
            <!-- end page-title -->
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Category details</h4>
                            <hr/>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-4 control-label">Name</label>
                                    <div class="col-sm-8">
                                        {{ category.name }}
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                    {% if subCategories | length > 0 %}
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">Sub category details</h4>
                                <hr/>
                                {% for subCategory in subCategories %}
                                    <div class="box-body">
                                        <div class="form-group row">
                                            <label for="employee" class="col-sm-4 control-label">Name</label>
                                            <div class="col-sm-8">
                                                {{ subCategory.name }}
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                {% endfor %}
                                <!-- /.box-body -->
                            </div>
                        </div>
                    {% endif %}
                    <div class="card">
                        <div class="card-body">
                            <div class="box-body">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        {#                                            {{ form_widget(form.reset, {'attr': {'class': 'btn btn-secondary btn-block pull-left'}}) }}#}
                                    </div>
                                    <div class="offset-6 col-sm-3">
                                        {#                                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-info btn-block pull-right'}}) }}#}
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
        </div>
        <!-- container-fluid -->

    </div>
    <!-- content -->


{% endblock page_content %}
{% block javascripts %}
    <script>
        {#var ajax_get_employee_list_auto_complete = "{{ url("ajax_get_employee_list_auto_complete") }}";#}
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

