{% extends "Base/base_page.html.twig" %}
{% block stylesheets %}
    {{ encore_entry_link_tags('bank_loan_create') }}
{% endblock %}
{% block page_content %}
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        {#<h4 class="page-title">Data Table</h4>#}
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i
                                            class="mdi mdi-home-outline"></i></a></li>
                            {% for breadcrumb_link, breadcrumb in breadcrumbs %}
                                <li class="breadcrumb-item"><a href="{{ path(breadcrumb_link) }}">{{ breadcrumb }}</a>
                                </li>
                            {% endfor %}
                            <li class="breadcrumb-item active">Create / Edit</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div>
            <!-- end page-title -->

            <form action="" method="post" enctype="multipart/form-data">
                {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">Bank loan details</h4>
                                {#<p class="text-muted mb-4">Here are examples of <code>.form-control</code> applied to each#}
                                {#textual HTML5 <code>&lt;input&gt;</code> <code>type</code>.</p>#}
                                <hr/>
                                <div class="box-body">
                                    <div class="form-group row">
                                        <label for="employee" class="col-sm-4 control-label">Employee</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee, {'type':'select', 'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.employee) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loanAmount" class="col-sm-4 control-label">Loan Amount (LKR)</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.loanAmount, {'type':'number', 'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.loanAmount) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="noOfInstallments" class="col-sm-4 control-label">No Of Installments</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.noOfInstallments, {'type':'number', 'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.noOfInstallments) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="installmentAmount" class="col-sm-4 control-label">Installment Amount (LKR)</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.installmentAmount, {'type':'number', 'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.installmentAmount) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="effectiveFromDate" class="col-sm-4 control-label">Effective From Date</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.effectiveFromDate, {'type':'date', 'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.effectiveFromDate) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="bankLoanStatus" class="col-sm-4 control-label">Loan Status</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.bankLoanStatus, {'type':'select', 'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.bankLoanStatus) }}
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="box-body">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            {{ form_widget(form.reset, {'attr': {'class': 'btn btn-secondary btn-block pull-left'}}) }}
                                        </div>
                                        <div class="offset-6 col-sm-3">
                                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-info btn-block pull-right'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
                {{ form_end(form) }}
            </form>

        </div>
        <!-- container-fluid -->

    </div>
    <!-- content -->
{% endblock page_content %}
    {% block javascripts %}
        <script>
            var ajax_get_employee_list_auto_complete = "{{ url("ajax_get_employee_list_auto_complete") }}";
        </script>
        {{ encore_entry_script_tags('bank_loan_create') }}
    {% endblock %}