

<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    {#<h4 class="page-title">Data Table</h4>#}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i
                                        class="mdi mdi-home-outline"></i></a></li>
                        {#{% for breadcrumb_link, breadcrumb in breadcrumbs %}#}
                        {#<li class="breadcrumb-item"><a href="{{ path(breadcrumb_link) }}">{{ breadcrumb }}</a>#}
                        {#</li>#}
                        {#{% endfor %}#}
                        <li class="breadcrumb-item active">Create / Edit</li>
                    </ol>
                </div>
            </div> <!-- end row -->
        </div>
        <!-- end page-title -->

        <form action="" method="post" enctype="multipart/form-data">
            {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
            <div class="row">
                <div class="col-md-8 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Gallery details</h4>
                            <hr/>
                            <div class="box-body">
                                <div class="form-group row">
                                    <label for="loanAmount" class="col-sm-4 control-label">Coffee Shop</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.coffeeShop, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.coffeeShop) }}
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="box-body">
                                <h4 class="mt-0 header-title">Gallery Images</h4>
                                <hr/>
                                <div class="box-body">
                                    <ul class="galleryImag" data-prototype="{{ include('gallery/gallery_image_prototype.html.twig', { 'galleryImag': form.galleryImages.vars.prototype }) |e('html_attr') }}">
                                        {% for key, image in form.galleryImages %}
                                            <li>
                                                <hr/>
                                                <div  class="form-group row ">
                                                    <label for="sibling_name"
                                                           class="col-sm-4 control-label">Name</label>
                                                    <div class="col-sm-8">
                                                        {{ form_widget(image.name, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                        {{ form_errors(image.name) }}
                                                    </div>
                                                </div>

                                                <div  class="form-group row ">
                                                    <label for="sibling_name"
                                                           class="col-sm-4 control-label">File</label>
                                                    <div class="col-sm-8">
                                                        {{ form_widget(image.file, { 'attr': {'class': 'form-control'}}) }}
                                                        {{ form_errors(image.file) }}
                                                    </div>
                                                </div>

                                                <div style="display: none">
                                                    {{ form_widget(image.reset,  { 'attr': {'class': 'hidden-row'} }) }}
                                                    {{ form_widget(image.save,  { 'attr': {'class': 'hidden-row'} }) }}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="box-body">
                                <h4 class="mt-0 header-title">Gallery Videos</h4>
                                <hr/>
                                <div class="box-body">
                                    <ul class="galleryVideo" data-prototype="{{ include('gallery/gallery_video_prototype.html.twig', { 'galleryVideo': form.galleryVideos.vars.prototype }) |e('html_attr') }}">
                                        {% for key, video in form.galleryVideos %}
                                            <li>
                                                <hr/>
                                                <div  class="form-group row ">
                                                    <label for="sibling_name"
                                                           class="col-sm-4 control-label">Name</label>
                                                    <div class="col-sm-8">
                                                        {{ form_widget(video.name, {'type':'text', 'attr': {'class': 'form-control'}}) }}
                                                        {{ form_errors(video.name) }}
                                                    </div>
                                                </div>

                                                <div  class="form-group row ">
                                                    <label for="sibling_name"
                                                           class="col-sm-4 control-label">File</label>
                                                    <div class="col-sm-8">
                                                        {{ form_widget(video.file, { 'attr': {'class': 'form-control'}}) }}
                                                        {{ form_errors(video.file) }}
                                                    </div>
                                                </div>

                                                <div style="display: none">
                                                    {{ form_widget(video.reset,  { 'attr': {'class': 'hidden-row'} }) }}
                                                    {{ form_widget(video.save,  { 'attr': {'class': 'hidden-row'} }) }}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="box-body">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        {{ form_widget(form.reset, {'attr': {'class': 'btn btn-secondary btn-block pull-left'}}) }}
                                    </div>
                                    <div class="offset-6 col-sm-3">
                                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-info btn-block pull-right'}}) }}
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
            {{ form_end(form) }}
        </form>
    </div>
    <!-- container-fluid -->
</div>
<!-- content -->
