{% extends 'base.html.twig' %}

{% block title %}Gallery index{% endblock %}

{% block body %}
    <h1>Gallery index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.id }}</td>
                <td>{{ gallery.name }}</td>
                <td>
                    <a href="{{ path('gallery_show', {'id': gallery.id}) }}">show</a>
                    <a href="{{ path('gallery_edit', {'id': gallery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gallery_new') }}">Create new</a>
{% endblock %}
