{% extends 'base.html.twig' %}

{% block title %}SliderImage index{% endblock %}

{% block body %}
    <h1>SliderImage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Path</th>
                <th>Position</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slider_image in slider_images %}
            <tr>
                <td>{{ slider_image.id }}</td>
                <td>{{ slider_image.path }}</td>
                <td>{{ slider_image.position }}</td>
                <td>
                    <a href="{{ path('slider_image_show', {'id': slider_image.id}) }}">show</a>
                    <a href="{{ path('slider_image_edit', {'id': slider_image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('slider_image_new') }}">Create new</a>
{% endblock %}
